*{
    margin:0;
}

.header{
    grid-area: h;
    background-color: coral;
    text-align: center;
}

.nav{
    grid-area: n;
    background-color: darkblue;
}

.footer{
    grid-area: f;
    background-color: darkmagenta;
}

.main{
    grid-area: m;
    background-color: darkred;
}

.grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    'h h'
    'n m'
    'f m';
}

ul{
    list-style: none;
    text-align: center;
    margin-right: 40px;
}

li{
    margin: 50px;
}

a{
    text-decoration: none;
    color: black;
    padding: 20px 50px;
    background: red;
  
}